{% extends 'myshop/base.html' %}
{% load static %}
{% block content %}

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

{% include 'includes/header.html' %}

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>новые поступления</h4>
              <h2>Одежда для Яхтсменов</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">Все товары</li>
                  <li data-filter=".des">Рекомендуемые</li>
                  <li data-filter=".dev">Горящие предложения</li>
                  <li data-filter=".gra">Последние просмотры</li>
              </ul>
            </div>
          </div>
            {% for product in object %}
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="/media/{{ product.image }}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>{{ product.name }} {{ product.brand }}</h4></a>
                <h4>{{ product.price }} руб</h4>
                <p>{{ product.description }}</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Отзывы (24)</span>
              </div>
            </div>
          </div>
          {% endfor %}



          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

    {% endblock %}
